* {
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a535c;
}

.container {
  background-color: #f7fff7;
  padding: 25px;
  margin: auto;
  margin-top: 200px;
  border-radius: 15px;
  max-width: 400px;
}

h1 {
  margin-bottom: 12px;
}

.container h1 {
  text-align: center;
}

.minute {
  text-align: center;
  margin-bottom: 15px;
}

.confused {
  font-size: 14%;
  text-align: center;
}

.login {
  font-size: 14%;
  text-align: center;
  margin-top: 10px;
  color: #f7fff7;
}

#name {
  margin-bottom: 12px;
}

#last-name {
  margin-bottom: 12px;
}

#email {
  margin-bottom: 12px;
}

#password {
  margin-bottom: 12px;
}

.conf-pass {
  margin-bottom: 12px;
}

label {
  color: #545d54;
}

input {
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-color: #dbe2db;
  padding: 3px;
}

button {
  border-style: none;
  background-color: #ffe66d;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

a {
  color: #ff6b6b;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgb(215, 215, 215);
}

button:active {
  box-shadow: 0px 1px 1px 0px rgb(116, 116, 116);
  margin-top: 10x;
}

button: ;
